# Azure AI Project
AZURE_OPENAI_API_KEY_O4_MINI=<your-api-key-for-the-o4-mini-model>
AZURE_OPENAI_API_KEY_DEEPSEEK_R1=<your-api-key-for-the-deepseek-r1-model>

# Email Service (Nodemailer)
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=user@example.com
EMAIL_PASS=your_email_password
EMAIL_FROM=user@example.com
EMAIL_TO=recipient@example.com

ALPHA_VANTAGE_API_KEY=asdf1234qwer5678

PORT=8000